header {
    background: none repeat scroll 0 0 #112233;
    color: #223344;
    font-size: 20px;
    padding: 5px 20px;
}

footer {
    background: none repeat scroll 0 0 #112233;
    color: #223344;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
}

dl {
    background: none repeat scroll 0 0 #AFAFAF;
    margin: 8px 0;
    padding: 0;
}

dt{
    display: inline-block;
    width: 170px;
}

dd{
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}